* {
    /* Propriedade definida como border-box. Isso garante que o preenchimento e a borda sejam incluídos na largura e altura total dos elementos. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
[class*="res--"] {
    /* For Devices 320px */
    width: 100%;
    float: left;
    padding: 10px;
}
.row::after {
    /* Limpeza de fluxo em que os elementos não serão colocados como se as colunas não existissem */
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 479px) {
    .res--m1{width:  8.33%;}
    .res--m2{width: 16.66%;}
    .res--m3{width: 25.00%;}
    .res--m4{width: 33.33%;}
    .res--m5{width: 41.66%;}
    .res--m6{width: 50.00%;}
    .res--m7{width: 58.33%;}    
    .res--m8{width: 66.66%;}
    .res--m9{width: 75.00%;}
    .res--m10{width:83.33%;}
    .res--m11{width:91.66%;}
    .res--m12{width:100.0%;}
}
@media only screen and (min-width: 480px) {
    /* For Smartphones */
    .res--s1{width:  8.33%;}
    .res--s2{width: 16.66%;}
    .res--s3{width: 25.00%;}
    .res--s4{width: 33.33%;}
    .res--s5{width: 41.66%;}
    .res--s6{width: 50.00%;}
    .res--s7{width: 58.33%;}    
    .res--s8{width: 66.66%;}
    .res--s9{width: 75.00%;}
    .res--s10{width:83.33%;}
    .res--s11{width:91.66%;}
    .res--s12{width:100.0%;}
}
@media only screen and (min-width: 768px) {
    /* For Tablets */
    .res--t1{width:  8.33%;}
    .res--t2{width: 16.66%;}
    .res--t3{width: 25.00%;}
    .res--t4{width: 33.33%;}
    .res--t5{width: 41.66%;}
    .res--t6{width: 50.00%;}
    .res--t7{width: 58.33%;}    
    .res--t8{width: 66.66%;}
    .res--t9{width: 75.00%;}
    .res--t10{width:83.33%;}
    .res--t11{width:91.66%;}
    .res--t12{width:100.0%;}
}
@media only screen and (min-width: 1024px) {
    /* For Desktops */
    .res--d1{width:  8.33%;}
    .res--d2{width: 16.66%;}
    .res--d3{width: 25.00%;}
    .res--d4{width: 33.33%;}
    .res--d5{width: 41.66%;}
    .res--d6{width: 50.00%;}
    .res--d7{width: 58.33%;}
    .res--d8{width: 66.66%;}
    .res--d9{width: 75.00%;}
    .res--d10{width:83.33%;}
    .res--d11{width:91.66%;}
    .res--d12{width:100.0%;}
}

.containner--small {
    max-width: 80%;
    margin: auto;
}
.containner--medium {
    /* Formato de página até 80% de largura */
    max-width: 90%;
    margin: auto;
}
.containner--full {
    width: 100%;
    margin: auto;
}
@media only screen and (max-width:1024px) {
    .containner--small {
        max-width: 90%;
    }
}

@media only screen and (max-width: 480px) {.hidden--s{display: none;}} /* Hidden Max 480px */
@media only screen and (min-width: 768px) {.hidden--t{display: none;}} /* Hidden Max 768px */
@media only screen and (min-width:1024px) {.hidden--d{display: none;}} /* Hidden Max 1024px */

img {width:100%; height: auto;}
video {width:100%;height:auto;}

h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}